{% style %}
.section-{{ section.id }}--padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}

@media(max-width: 768px) {
    .section-{{ section.id }}--padding {
        padding-top: {{ section.settings.padding_top_mob }}px;
        padding-bottom: {{ section.settings.padding_bottom_mob }}px;
    }
}
{% endstyle %}
<div class="section-{{ section.id }}--padding">
    <div class="page-width">
        <div class="contact-information">
            {% if section.settings.title != blank %}
                <h2 class="contact-title center">{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.description != blank %}
                <div class="contact-description center">{{ section.settings.description }}</div>
            {% endif %}
            <div class="contact-info-wrapper">
                <div class="contact-info__content">
                    {% for block in section.blocks %}
                        <div class="contact-info__item">
                            {{ block.settings.info }}
                        </div>
                    {% endfor %}
                </div>
                <div class="contact-info__image">
                    <div class="gp-image" style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%">
                        {{ section.settings.image | img_url: '600x' | img_tag }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Contact Information",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_top_mob",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Padding Top",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_bottom_mob",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Padding Bottom",
            "default": 50
          }
    ],
    "blocks": [
        {
            "type": "info",
            "name": "Info",
            "settings": [
                {
                    "type": "richtext",
                    "id": "info",
                    "label": "Information"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Contact Information"
        }
    ]
}
{% endschema %}