{% style %}
.section-{{ section.id }}--padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: #1A1A1A;
}

@media(max-width: 768px) {
    .section-{{ section.id }}--padding {
        padding-top: {{ section.settings.padding_top_mob }}px;
        padding-bottom: {{ section.settings.padding_bottom_mob }}px;
    }
}
{% endstyle %}
{% if product.metafields.custom.iwt_image != blank %}
<div class="section-{{ section.id }}--padding">
    <div class="page-width">
        <div class="product-image-width-text">
            <h2 class="iwt--header center">{{ product.metafields.custom.iwt_header }}</h2>
            <div class="iwt-list {% if product.metafields.custom.iwt_title.value.size >= 4 %}iwt-grid{% endif %}">
                {% for image in product.metafields.custom.iwt_image.value %}
                    {% assign m = forloop.index0 | modulo: 2 %}
                    <div class="product-iwt--item {% if m == 0 %}reverse{% endif %}">
                        <div class="iwt--image">
                            {{ image | img_url: '600x' | img_tag }}
                        </div>
                        <div class="iwt--text">
                            <h4 class="iwt--text__header">{{ product.metafields.custom.iwt_title.value[forloop.index0] }}</h4>
                            <div class="iwt--text__content">{{ product.metafields.custom.iwt_description.value[forloop.index0] }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% schema %}
{
    "name": "Product Image With Text",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_top_mob",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Padding Top",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_bottom_mob",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Padding Bottom",
            "default": 50
          }
    ]
}
{% endschema %}