{% style %}
.section-{{ section.id }}--padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}

@media(max-width: 768px) {
    .section-{{ section.id }}--padding {
        padding-top: {{ section.settings.padding_top_mob }}px;
        padding-bottom: {{ section.settings.padding_bottom_mob }}px;
    }
}
{% endstyle %}
<div class="section-{{ section.id }}--padding">
    <div class="page-width">
        <div class="section--header">
            {% if section.settings.title != blank %}
                <h2 class="section--heading center">{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.description != blank %}
                <div class="section--description center">
                    {{ section.settings.description }}
                </div>
            {% endif %}
        </div>
        <div class="payment-list">
            {% for block in section.blocks %}
                <div class="payment-item">
                    <div class="payment-image">{{ block.settings.image | img_url: '90x' | img_tag }}</div>
                    <p class="payment-text">{{ block.settings.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Where to buy",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "SHOP Golden Prairie NOW"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Get Golden Prairie products from your favorite online retailer today:</p>"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_top_mob",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Padding Top",
            "default": 50
          },
          {
            "type": "range",
            "id": "padding_bottom_mob",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Padding Bottom",
            "default": 50
          }
    ],
    "blocks": [
        {
            "type": "payment",
            "name": "Payment",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Where to buy"
        }
    ]
}
{% endschema %}